p.teaser {
    text-indent: 30px; 
    }

@media only screen and (min-width: 1200px) {
    .user-administration,
    .roles,
    .available-permissions {
        margin-left: 1rem;
        padding-top: 1px;
    }
}

.post {
	margin: 0 1rem;
}

.modal-window {
	padding: 1rem 3rem;
}

.modal-header {
	padding: 5px;
}

.modal-header h1 {
	margin: 0;
	padding: 5px;
}

.form-group {
	margin-bottom: 5px;
}

#table thead tr th:last-child {
	text-align: center;
}

.with-buttons {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.with-buttons .edit-user-modal {
	display: inline-block;
	margin-right: .5rem;
}

.main-footer {
	margin-left: 0;
	padding: 3rem;
}

.modal-header .close {
	margin-right: 1.5rem;
	margin-top: 1rem;
}

.modal-body .alert.alert-warning li {
	list-style-position: inside;
}